{% extends 'base.html' %}
{% block content %}
<h1>Student Page</h1>
    <form action="" method=""> 
        <input type="textbox" name="stname" />
        <br><br>
        <input type="submit" value="Submit"/>
       </form>

    <table>
        <tr style="font-weight: bold;">
            <td>
                Name
            </td>

            <td>
                Email
            </td>

            <td>
                Status
            </td>
        </tr>

        {% for s in student %}
        <tr>
            <td>{{s.name}}</td>
            <td>{{s.email}}</td>
            <td>{{s.status}}</td>
            <td><a href="{% url 'i' s.id %}">information</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}